


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
   
    background-image: url("https://www.teahub.io/photos/full/6-63195_food-wallpaper-foods-wallpaper-hd.jpg");
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100px;
    text-align: center;
    color: blanchedalmond;
    font-size: 30px;
    width: auto;
    
    
   
} 
.container{
    
    
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    

}

.BsCart{
    display: flex;
    justify-content: flex-end;
}

.h1Item{
    text-align: center;
    text-shadow: 4px 4px 2px rgba(207, 221, 80, 0.979);
    background-color: #f0be77;
}

p{
    text-align: center;
}

.footerDiv{
    text-shadow: 4px 4px 2px rgba(205,192,42,0.6);
}


.h3Producto{
  text-align: center;
}

.mainContainer{
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.itemContainer{
  display: flex;
  flex-flow: nowrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.divContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.imgSet{
  width: auto;
  height: 500px;

}

.loading{
  color:white
}

img{
  width: auto;
}